*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
height: 100vh;
}
.amarillogrande{
background-color: #ffd680;
width: 100%;
height: 25%;
display: flex;
}
.cuadradoamarillo{
background-color: #ffc86d;
width: 12%;
height: 70%;
margin-top: 1.4%;
margin-left: 10%;
}
.amarilloderecha{
height: 100%;
width: 70%;
margin-left: 13%;
}
.recamarillo{
width: 30%;
height: 13%;
background-color: #ffb959;
margin-top: 2%;
}
.lineablanca{
background-color: white;
width: 80%;
height: 7%;
margin-top: 2%;
}
.minilinea{
background-color: white;
width: 40%;
height: 7%;
margin-top: 2%;
}
.medioentero{
background-color: white;
height: 60%;
width: 100%;
display: flex;
flex-wrap: wrap;
flex-direction: column;
}
.celesteoscuro{
background-color: #abe0e5;
}
.rojooscuro{
background-color: #f68360;
}
.naranjaoscuro{
background-color: #ffc86d;
}
.cuadrados{
width: 14%;
margin-left: 13%;
height: 80%;
background-color: blue;
margin-top: 5%;
}
.celeste{
background-color: #c4edf1;
}
.rojo{
background-color: #ff9978;
}
.naranja{
background-color: #ffd680;
}
.abajoentero{
height: 15%;
width: 100%;
background-color: #e6e5e5;
}
.cuadradosarriba{
display: flex;
width: 80%;
height: 40%;
margin-left: 15%;
}
.cuadradosabajo{
    display: flex;
    width: 80%;
    height: 40%;
    margin-left: 15%;
    }
.recuadrado{
width: 100%;
height: 10%;
background-color: black;
}

<div class="medioentero">
<div class="cuadrados">
    <div class="recuadrado"></div>
    <div class="cuadrado2"></div>