body{
height: 100vh   ;
background-color: #252d30;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.arribaentero{
background-color: #3d6aae;
height: 15%;
width: 80%;
margin-left: 10%;
display: flex;
align-items: center;
}
.cuadradoizq{
height: 40%;
aspect-ratio: 1/1;
background-color: white;
margin-left: 5%;
}
.lineablancaarriba{
background-color: white;
width: 18%;
height: 22%;
margin-left: 3%;
}
.buscador{
background-color: white;
height: 40%;
width: 38%;
margin-left: 3%;
}
.lineaderecha1{
background-color: white;
height: 22%;
width: 10%;
margin-left: 9%;
}
.lineaderecha2{
    background-color: white;
    height: 22%;
    width: 6%;
    margin-left: 1.5%;
}
.abajoentero{
background-color: #ededed;
height: 85%;
width: 80%;
margin-left: 10%;
}
.lineaarriba{
height: 2%;
background-color: white;
width: 100%;
}
.recamarillo{
width: 70%;
height: 25%;
margin-left: 5%;
background-color: #efcb15;
}
.recblanco{
height: 4%;
width: 70%;
margin-left: 5%;
background-color: white;
}
.lineablancapaletas{
width: 30%;
height: 10%;
background-color: white;
margin-left: 5%;
margin-top: 5%;
}
.recconpaletas{
height: 40%;
width: 30%;
margin-left: 5%;
margin-top: 2%;
background-color: white;
display: grid;
}
.grupopaletas{
width: 100%;
height: 33%;
display: flex;
}
.paletas{
margin-top: 4%;
margin-left: 3%;
width: 29%;
height: 200%;
background-color: black;
}
.cosoderechapaleta1{

}
.uno{
background-color: #e8dda5;
}
.dos{
background-color: #aba6e8;
}
.tres{
background-color: #a7cce7;
}
.cuatro{
background-color:#d8a7e9 ;
}
.cinco{
background-color:#a8e8da ;
}
.seis{
background-color:#d8a7e9 ;
}
.siete{
background-color:#a8e7d9 ;
}
.ocho{
background-color:#a7cce7 ;
}
.nueve{
background-color:#e8dda5 ;
}

        <div class="cosoderechapaleta1"></div>
        <div class="cosoderechapaleta2"></div>
        <div class="cosoderechapaleta3"></div>
        <div class="cosoderechapaleta4"></div>
        <div class="cosoderechapaleta5"></div>
        <div class="listapaletas">
            <div class="listapaletas"></div>
            <div class="listapaletas"></div>
            <div class="listapaletas"></div>
            <div class="listapaletas"></div>
            <div class="listapaletas"></div>
            <div class="listapaletas"></div>
            <div class="listapaletas"></div>
            <div class="listapaletas"></div>
            <div class="listapaletas"></div>
            <div class="listapaletas"></div>
            <div class="listapaletas"></div>
            <div class="lineagris"></div>
            <div class="lineagris"></div>
            <div class="lineagris"></div>
            <div class="lineagris"></div>
            <div class="lineagris"></div>
            <div class="lineagris"></div>
            <div class="lineagris"></div>
            <div class="lineagris"></div>
            <div class="lineagris"></div>
            <div class="lineagris"></div>
            <div class="lineagris"></div>
        </div>

    </div>
